@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

}

.work-sans-700 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.work-sans-600 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.work-sans-500 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.work-sans-400 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dark-1 {
    color: rgb(19, 19, 19);
}

.dark-2 {
    color: rgb(66, 66, 66);
}

.dark-3 {
    color: rgb(114, 114, 114);
}

.display-flex {
    display: flex;
}

header {
    overflow-x: hidden;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    align-items: center;
    justify-content: space-between;
}

nav>h3 {
    font-size: 3rem;
}

.nav-links {
    list-style: none;
    gap: 24px;
}

.link {
    text-decoration: none;
    font-size: 1.125rem;
}

.bg-orange {
    background: rgba(255, 144, 14, 0.1);
}

.banner {
    max-width: 1200px;
    margin: 0 auto;
}

.banner-texts {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;

}

.banner-texts p {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 1rem;
}

.banner-texts h2 {
    margin-top: 100px;
    font-size: 4rem;
}

.btn {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 24px;
    background: rgb(255, 144, 14);
    border: 0;
}

.banner>img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 45px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature {
    gap: 73px;
    align-items: center;
    margin-top: 85px;
}

.feature-texts>h3 {
    font-size: 2.8rem;
    font-weight: 700;
}

.feature-texts>p {
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 24px;
}

.orange {
    color: rgb(255, 144, 14);
}

.feature-exp {
    gap: 146px;
    align-items: center;
    margin-top: 150px;
}

.feature-exp-texts>h3 {
    font-size: 2.8rem;
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;

}

.feature-exp-texts>p {
    font-size: 1rem;
    margin-top: 24px;

}

.card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}

.card>h4 {
    font-size: 1.25rem;
}

.card>p {
    font-size: 1rem;
    margin-top: 10px;
}

.feature-exp-img>button {
    background-color: rgb(255, 144, 14);
    padding: 46px;
    border-radius: 8px;
    border: 0;
    margin-left: -92px;
    margin-top: -80px;
}

.feature-exp-img>button h3 {
    font-size: 4rem;
    color: rgb(255, 255, 255);

}

.feature-exp-img>button span {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);

}

.facts {
    margin-top: 150px;
}

.facts h4 {
    font-size: 2.8rem;
}

.facts p {
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 24px;
}

.fact-card {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgb(255, 144, 14);
    padding: 45px;
    /* width: 195px;
    height: 195px; */

}

.fact-card h4 {
    font-size: 2.8rem;
    text-align: center;
}

.fact-card p {
    font-size: 1.25rem;
    text-align: center;
}

.fact-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124px;
}
.sponsors{
    margin-top: 150px;
}
.sponsors-text {
    text-align: center;
}

.sponsors-text h4 {
    font-size: 2.8rem;
}

.sponsors-text p {
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 24px;
}

.sponsors-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.footer{
    margin-top: 150px;
    border-radius: 8px;
    padding: 39px 0;
    background-color:rgb(255, 244, 231) ;
}
.footer p{
    font-size: 1.25rem;
    text-align: center;
}
@media screen and (max-width:576px) {

    nav,
    .feature {
        flex-direction: column;
    }

    .banner {
        margin-left: 5px;
        margin-right: 5px;
    }

    .nav-links {
        flex-wrap: wrap;
    }

    .feature-img {
        grid-template-columns: repeat(1, 1fr);


    }

    .feature-img img {
        height: 100%;
        width: 100%;
    }

    .feature-exp {
        flex-direction: column;
    }

    .feature-exp-img img {
        width: 100%;

    }

    .feature-exp-img>button {
        padding: 30px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }

    .fact-cards {
        grid-template-columns: repeat(1, 1fr);

    }

    .sponsors-icons {
        gap: 10px;
        place-items: center;

        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (min-width:577px) and (max-width:992px) {

    .feature {
        flex-direction: column;
    }

    .feature-texts {
        text-align: center;
    }

    .feature-img {
        gap: 5px;
    }

    .feature-exp {
        flex-direction: column;
    }

    .feature-exp-img img {
        width: 100%;

    }

    .feature-exp-img>button {
        padding: 30px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }

    .fact-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsors-icons {
        gap: 10px;

        grid-template-columns: repeat(3, 1fr);
    }




}